* {
  margin: 0;
  padding: 0;
}

/* logo */
.logo {
  margin-left: 15px;
  margin-top: 15px;
}
/* navegacion */
nav a {
  font-size: 15px;
  color: #194351;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  font-weight: 250;
  text-transform: uppercase;
}
nav a:hover {
  color: white;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
#barrita {
  background-color: #9ebeb9;
  padding: 10px;
  border-top: 1px solid #194351;
  border-bottom: 1px solid #194351;
}

a {
  text-decoration: none;
}
h1 a {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
/* body */
body {
  background-color: #ffc2b5;
}

body,
html {
  height: 100%;
}

/* footer */

footer {
  border-top: 1px solid #194351;
}
.newsletter__titulo {
  font-family: "Montserrat", sans-serif;
  color: #194351;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 30px;
}
.newsletter {
  margin-top: 20px;
  margin-left: 30px;
  padding-right: 900px;
}
.redes {
  display: inline;
  margin-left: 1250px;
  padding-bottom: 20px;
}
/* furmulario de contacto */
.form__fieldset {
  width: 600px;
  margin-left: 350px;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ff8882;
  border: 1px solid #194351;
}
legend {
  font-family: "Montserrat", sans-serif;
  color: #194351;
  font-weight: bold;
}
.form__label {
  font-family: "Montserrat", sans-serif;
  color: #194351;
  font-size: 15px;
  font-weight: bold;
}
.form__item {
  margin-bottom: 20px;
}
.input {
  margin-bottom: 40px;
}
.btn-blue {
  background-color: #9ebeb9;
  color: #194351;
  border: 1px solid #194351;
}
