* {
  margin: 0;
  padding: 0;
}
/* body */
body {
  background-color: #ffc2b5;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

/* logo */
.logo {
  margin-left: 15px;
  margin-top: 15px;
}

/* navegacion */
a {
  text-decoration: none;
}

h1 a {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.menu {
  background-color: #9ebeb9;
  padding: 10px;
  border-top: 1px solid #194351;
  border-bottom: 1px solid #194351;
}
.menu__nav {
  display: flex;
  justify-content: space-evenly;
}
.menu__nav--link {
  font-size: 15px;
  color: #194351;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  font-weight: 250;
  text-transform: uppercase;
}
.menu__nav--link:hover {
  color: white;
}

/* carousel */
.carousel-item {
  height: 500px;
  min-height: 300px;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.4;
}

.img__carousel {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-caption {
  bottom: 130px;
}

.button__link {
  color: white;
}

.carousel__titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}

.kirei {
  font-size: 70px;
}

/* footer */
footer {
  border-top: 1px solid #194351;
}
.footer {
  display: flex;
}
.newsletter__titulo {
  font-family: "Montserrat", sans-serif;
  color: #194351;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 30px;
}

.newsletter {
  margin-top: 20px;
  margin-left: 30px;
  padding-bottom: 20px;
  width: 500px;
}
.redes {
  display: flex;
  padding-right: 20px;
  margin-top: 20px;
  width: 100%;
  justify-content: flex-end;
}
.redes__img--ins,
.redes__img--fb,
.redes__img--yt {
  margin: 15px;
}
.btn-blue {
  background-color: #9ebeb9;
  color: #194351;
  border: 1px solid #194351;
  font-family: "Montserrat", sans-serif;
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
  .header {
    display: none;
  }
}

@media (max-width: 768px) {
  /* carousel */
  .carousel {
    display: none;
  }

  /* header */
  .header {
    height: 400px;
  }
  .header__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  /* footer */
  .newsletter {
    padding-right: 0px;
    width: 300px;
    padding-bottom: 0px;
    margin-left: 0px;
  }
  .newsletter__titulo {
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .footer {
    flex-direction: column;
  }
  .footer__newsletter {
    display: flex;
    justify-content: center;
  }
  .redes {
    justify-content: center;
    margin: 0px;
    padding-right: 0px;
  }
  .redes__img--ins,
  .redes__img--fb,
  .redes__img--yt {
    margin: 40px;
  }
  .redes__img--ins {
    width: 40px;
  }
  .redes__img--fb {
    width: 18px;
  }
  .redes__img--yt {
    width: 48px;
  }
}
