/* servicios */
.servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: $oper1 * 6;
  grid-row-gap: $oper1 * 8;
  margin-left: $oper1 * 6;
  margin-bottom: $oper1 * 4;
  margin-right: $oper1 * 6;
  align-items: center;
  padding-top: $oper1 * 10;
  &__img {
    width: $oper1 * 70;
    height: auto;
  }
  .servicios1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .servicios2 {
    grid-area: 1 / 2 / 2 / 4;
    font-family: $monserrat;
    color: $azul;
    background: linear-gradient(to left, $rosa, $rosita);
    padding: $oper1 * 4;
  }

  .servicios3 {
    grid-area: 2 / 1 / 3 / 3;
    font-family: $monserrat;
    color: $azul;
    background: linear-gradient(to right, #ff8882, #ffc2b5);
    padding: $oper1 * 4;
  }
  .servicios4 {
    grid-area: 2 / 3 / 3 / 4;
  }
  .servicios4 img {
    margin-left: $oper1 * 12;
  }
  .servicios5 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .servicios6 {
    grid-area: 3 / 2 / 4 / 4;
    font-family: $monserrat;
    color: $azul;
    background: linear-gradient(to left, $rosa, $rosita);
    padding: $oper1 * 4;
  }
  .servicios7 {
    grid-area: 4 / 1 / 5 / 3;
    font-family: $monserrat;
    color: $azul;
    background: linear-gradient(to right, $rosa, $rosita);
    padding: $oper1 * 4;
  }
  .servicios8 {
    grid-area: 4 / 3 / 5 / 4;
  }
  .servicios8 img {
    margin-left: $oper1 * 12;
  }
  .servicios9 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .servicios10 {
    grid-area: 5 / 2 / 6 / 4;
    font-family: $monserrat;
    color: $azul;
    background: linear-gradient(to left, $rosa, $rosita);
    padding: $oper1 * 4;
  }
  .servicios11 {
    grid-area: 6 / 1 / 7 / 3;
    font-family: $monserrat;
    color: $azul;
    background: linear-gradient(to right, $rosa, $rosita);
    padding: 20px;
  }
  .servicios12 {
    grid-area: 6 / 3 / 7 / 4;
  }
  .servicios12 img {
    margin-left: $oper1 * 12;
  }
}

@media (max-width: 768px) {
  /* grid servicios*/
  .servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 0.6fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    &__titulo {
      font-size: $oper1 * 6;
      font-weight: bolder;
    }
    .servicios1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .servicios2 {
      grid-area: 2 / 1 / 3 / 2;
      background: linear-gradient(to top, $rosa, $rosita);
      font-size: $oper1 * 4;
    }
    .servicios4 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .servicios3 {
      grid-area: 4 / 1 / 5 / 2;
      background: linear-gradient(to top, $rosa, $rosita);
      font-size: $oper1 * 4;
    }
    .servicios4 img {
      margin: 0px;
    }
    .servicios5 {
      grid-area: 5 / 1 / 6 / 2;
    }
    .servicios6 {
      grid-area: 6 / 1 / 7 / 2;
      background: linear-gradient(to top, $rosa, $rosita);
      font-size: $oper1 * 4;
    }
    .servicios8 {
      grid-area: 7 / 1 / 8 / 2;
    }
    .servicios7 {
      grid-area: 8 / 1 / 9 / 2;
      background: linear-gradient(to top, $rosa, $rosita);
      font-size: $oper1 * 4;
    }
    .servicios8 img {
      margin: 0px;
    }
    .servicios9 {
      grid-area: 9 / 1 / 10 / 2;
    }
    .servicios10 {
      grid-area: 10 / 1 / 11 / 2;
      background: linear-gradient(to top, $rosa, $rosita);
      font-size: $oper1 * 4;
    }
    .servicios12 {
      grid-area: 11 / 1 / 12 / 2;
    }
    .servicios11 {
      grid-area: 12 / 1 / 13 / 2;
      background: linear-gradient(to top, $rosa, $rosita);
      font-size: $oper1 * 4;
    }
    .servicios12 img {
      margin: 0px;
    }
    .servicios__img {
      width: 100%;
    }
  }
}
